.button {
  overflow: hidden;
  transition: all 300ms ease;
}

.button:after {
  width: 300%;
  height: 300%;
  left: -300%;
  transform: rotate(45deg);
  background-color: #f21170;
  transition: all 300ms ease;
}

.button:hover::after {
  left: -100%;
}

.button:hover {
  border: 2px solid #f21170;
}